<!DOCTYPE html>
<html lang="en" ng-app="bugTrackerApp">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<script type="text/usecases">
		1. Add a new bug
		2. List all the bugs
		3. Toggle the 'closed' status of a bug
		4. Remove closed bugs
		5. Display stats (# of closed bugs / total # of bugs)
		6. Sort the bugs
		7. Search for the bugs
		8. Improvise bug display
		9. Persist the bugs in the 'localStorage'
		10. Display 'createdAt' for each bug
		11. Persist the bugs in the server
		12. Make the bugs accessible through unique url
	</script>
	<style>
		section{
			margin-bottom: 10px;
		}
		.stats, .bugname{
			font-size: 20pt;
		}
		.bugname{
			cursor: pointer;
		}
		.closed{
			color : red;
			text-decoration: line-through;
			font-style: italic;
			font-weight: bold;
		}
		ol{
			width: 500px;
			list-style: none;
		}
		li{
			margin-bottom: 10px;
			border : 1px solid gray;
			background-color: #e7e7e7;
			padding: 5px;
			border-radius: 5px;
		}

	</style>
	<script src="angular.js"></script>
	<script>
		var bugTrackerApp = angular.module("bugTrackerApp", []);

		bugTrackerApp.value('defaultBugName', '[Default Bug]')

		bugTrackerApp.factory("bugOperations", function (defaultBugName){
			var currentBugId = 0;	
			return {
				createNew : function(bugName){
					return {
						id : ++currentBugId,
						name : bugName || defaultBugName,
						isClosed : false
					};
				},
				toggle : function(bug){
					bug.isClosed = !bug.isClosed;
				}
			}
		});

		bugTrackerApp.controller("bugsController", function($scope, bugOperations){

			$scope.bugs = [
				bugOperations.createNew('server communication failure'),
				bugOperations.createNew('user actions not recognised'),
				bugOperations.createNew('application not responsive'),
			];

			$scope.addNew = function(bugName){
				var newBug = bugOperations.createNew(bugName);
				$scope.bugs.push(newBug);
			};

			$scope.toggle = function(bug){
				bugOperations.toggle(bug);
				
			};
			$scope.removeClosed = function(){
				for(var i=$scope.bugs.length-1; i >=0; i--)
					if ($scope.bugs[i].isClosed)
						$scope.bugs.splice(i,1);
			};
			$scope.getClosedCount = function(){
				var closedCount = 0;
				for(var i=0; i < $scope.bugs.length; i++)
					if ($scope.bugs[i].isClosed)
						++closedCount;
				return closedCount;
			}
		});

		bugTrackerApp.filter('trimText', /*factory returning the actual filter function*/ function(){
			return /* the actual filter function*/ function(data){
				return data.length < 30 ? data : data.substr(0,30) + '...';
			}
		});

	</script>
</head>
<body ng-controller="bugsController">
	<h1>Bug Tracker</h1>
	<hr>
	<section class="stats">
		<span class="closed">{{getClosedCount()}}</span>
		<span> / </span>
		<span>{{bugs.length}}</span>
	</section>
	<section class="search">
		<label for="">Search :</label>
		<input type="text" ng-model="searchBug.name">
		<label for="">Closed ? :</label>
		<input type="checkbox" ng-model="searchBug.isClosed">
		<input type="button" value="Show All" ng-click="searchBug=''">
	</section>
	<section class="sort">
		<label for="">Order By :</label>
		<select ng-model="sortBug">
			<option value="name">Name</option>
			<option value="isClosed">Status</option>
		</select>
		<label for="">Descending ? :</label>
		<input type="checkbox" ng-model="sortOrder">
	</section>
	<section class="edit">
		<label for="">Bug Name :</label>
		<input type="text" ng-model="newBugName">
		<input type="button" value="Create New" ng-click="addNew(newBugName)">
	</section>
	<section class="list">
		<ol>
			<li ng-repeat="bug in ( bugs | filter:searchBug | orderBy:sortBug:sortOrder ) "  >
				<span class="bugname" ng-click="toggle(bug)" ng-class="{closed : bug.isClosed}">{{bug.name | trimText}}</span>
				<div class="datetime">[Created At]</div>
				<i>[{{bug.id}}]</i>
			</li>
			
		</ol>
		<input type="button" value="Remove Closed" ng-click="removeClosed()">
	</section>
</body>
</html>